.wrapper {
	/* border: 1px solid blue; */
	display: flex;
	max-width: 100%;
	background-color: rgb(255, 255, 255);
}
.header {
	position: absolute;
	width: 83%;
	height: 200px;
	z-index: 1;
	/* border: 1px solid blue; */
	text-align: center;
	display: flex;
	box-sizing: border-box;
	margin-left: 17%;
}
.main {
	float: left;
	width: 82%;
	padding-top: 200px;
	margin-left: 200px;
	box-sizing: border-box;

	/* border: 1px solid red; */
}
.movieContents {
	padding-top: 200px;
	margin-left: 250px;
}
.logo {
	/* border: 1px solid blue; */
	width: 75%;
	background: url(./Main_Logo.png) no-repeat;
	height: 80%;

	background-position: center -30px;
}
.writingButton {
	background-color: white;
	color: black;
	border: 1px solid rgb(188, 188, 202);
	border-radius: 30px;
	width: 70px;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 70px;
	left: 100px;
	height: 30px;
}
