* {
	margin: 0;
	padding: 0;
}
.wrapper {
	/* border: 1px solid blue; */
	display: flex;
	max-width: 100%;
	max-height: 100%;
	background-color: rgb(0, 0, 0);
}
.header {
	position: fixed;
	width: 100%;
	height: 21%;
	z-index: 1;
	opacity: 0.95;
	border-bottom: 1px solid rgb(205, 192, 192);
	text-align: center;
	display: flex;
	box-sizing: border-box;
	padding: 1% 0;
	/* left: 22%; */
	background-color: rgb(245, 245, 245);
}

.logo {
	/* border: 1px solid blue; */
	width: 25%;
	/* margin-left: 13%; */
	background: url(./Main_Logo.png) no-repeat;
	background-size: 300px 200px;
	/* height: 80%; */

	background-position: center;
}
.writingButton {
	background-color: white;
	color: black;
	border: 1px solid rgb(188, 188, 202);
	border-radius: 30px;
	width: 5%;
	/* left: 50%; */
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 40%;
	left: 26%;
	height: 20%;
}
a {
	text-decoration: none;
	color: black;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
