.writeIntro {
  font-style: italic;
  font-size: 1.5rem;
  color: white;
}
.writeIntro > span {
  font-style: italic;
  font-size: 1.5rem;
  color: #66d9e8;
  text-emphasis : dot #66d9e8;
  text-emphasis-position: over right;
  -webkit-text-emphasis : dot #66d9e8;
  -webkit-text-emphasis-position: over;
}

input {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 15rem;
  height: 1.5rem;
  font-size: 0.8rem;
}

.quill {
  margin-top: 0.6rem;
  border: 1px solid black;
  background-color: white;
}

.submit__text {
  float: right;
  border: 2px solid #66d9e8;
  border-radius: 3px;
  background-color: black;
  color: white;
  margin-top: 0.6rem;
  width: 5rem;
  height: 1.7rem;
}
