
.searchPage {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 100vh;
    
}
.searchIntro {
    /* margin-top: 21%; */
    position: relative;
    /* margin-left: 10%; */
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: large;
    color: rgb(255, 255, 255);
}
.searchIntro > span {
    color: #66d9e8;
    font-weight: bold;
}

.inputTitle {
    border-radius: 3px;
    width: 22rem;
    height: 1.5rem;
    font-size: 0.8rem;
}

.goSearch {
    border: 1.5px solid #66d9e8;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin: 0.3rem;
    width: 4rem;
    height: 1.7rem;
}

.renderResult {
    margin-top: 1.3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.8rem;
    row-gap: 1.5rem;
}

.movie__result {
    transition: all 1s;
    cursor: pointer;
    display: block;
    text-align: center;
}
.movie__result:hover  {
    transform: scale(1.05);
	z-index: 100;
	position: relative;
}

.movie__result > img {
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgb(29, 29, 29);
}
.movie__result > .url {
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    font-weight: 300;
    margin-top: 10px;

}
@media (max-width: 1365px) {
    .searchPage { width: 50vw;}
    .searchIntro { padding-top: 1rem;}
    /* .inputTitle {width: 20rem;} */
}
@media (max-width: 1024px) {
    .searchPage { width: 60vw;}
    .searchIntro { padding-top: 3rem;}
}

@media (max-width: 768px) {
    .searchPage { width: 80vw;}
    .searchIntro { padding-top: 5rem;}
}
