.video__intro {
	position: relative;
	height: 47rem;
}
.video__intro > .video {
	position: relative;
	margin-top: 10%;
	width: 100%;
	left: 50%;
	top: 15%;
	/* height: 90%; */
	object-fit: cover;
	transform: translate(-50%, -50%);
	opacity: 0.9;
}

.introduction {
	position: absolute;

	top: 80%;

	left: 45%;
	color: white;
	/* margin: auto; */
	font-size: 3rem;
	font-weight: bolder;
	transform: translate(-50%, -50%);
}
.introduction > span {
	background: linear-gradient(to right, rgb(0, 0, 0, 0) 50%, #e8ebeb 51%);
	background-size: 200%;
	transition: all 0.5s;
	color: #22b8cf;
	font-size: 3.5rem;
}
.introduction > span:hover {
	background-position: -98.5% 0;
}
.introduction > .brand {
	font-size: 4.5rem;
	color: #22b8cf;
}
@media (max-width: 1920px) {
	.video__intro {
		height: 36rem;
	}
	.introduction {
		top: 60%;
		font-size: 2.5rem;
	}
	.introduction > span {
		font-size: 3rem;
	}
	.introduction > .brand {
		font-size: 4rem;
	}
}
@media (max-width: 1365px) {
	.video__intro {
		height: 32rem;
	}
	.introduction {
		top: 67%;
		font-size: 2rem;
	}
	.introduction > span {
		font-size: 2.5rem;
	}
	.introduction > .brand {
		font-size: 3.5rem;
	}
}
@media (max-width: 1024px) {
	.video__intro {
		height: 24rem;
	}
	.introduction {
		top: 73%;
		font-size: 2rem;
	}
	.introduction > span {
		font-size: 2.5rem;
	}
	.introduction > .brand {
		font-size: 3.2rem;
	}
}

@media (max-width: 768px) {
	.video__intro {
		height: 18rem;
	}
	.introduction {
		top: 75%;
		font-size: 1rem;
	}
	.introduction > span {
		font-size: 1.5rem;
	}
	.introduction > .brand {
		font-size: 2rem;
	}
}

@media (max-width: 639px) {
	.video__intro {
		height: 14rem;
	}
	.introduction {
		top: 52%;
		font-size: 0.8rem;
	}
	.introduction > span {
		font-size: 1.1rem;
	}
	.introduction > .brand {
		font-size: 1.4rem;
	}
}
.slide {
	/* top: 10%; */
	/* margin-top: 12rem; */
	position: relative;
	width: 100%;
	display: block;
	background-color: black;
	box-sizing: border-box;
}
.boxOffice {
	/* margin-top: 3rem; */
	padding-top: 4rem;
	position: relative;
	text-align: center;
	color: white;
	font-size: 3rem;
}
.slideElement {
	width: 100%;
	margin-top: 4rem;
	position: relative;
}
.img__container {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.slideImage {
	width: 20%;
	/* height: 28em; */
	margin-left: 25%;
	float: left;
	/* border-radius: 10px; */
	border: 1px solid rgb(46, 46, 48);
	box-shadow: 5px 5px 50px rgb(57, 57, 58);
	vertical-align: top;
}
.info__container {
	position: absolute;
	vertical-align: middle;
	text-align: left;
	color: white;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	left: 67%;
	top: 45%;
}
.slideTitle {
	font-size: 5rem;
	font-weight: bold;
}
.slideActors {
	font-size: 3rem;
	font-weight: bold;
}
.slideStory {
	margin-top: 0.3rem;
}
@media (max-width: 1920px) {
	.slide {
		margin-top: 0.2rem;
	}
	.boxOffice {
		font-size: 2.5rem;
	}
}
@media (max-width: 1365px) {
	.boxOffice {
		font-size: 2rem;
		padding-top: 1rem;
	}
	.slideTitle {
		font-size: 2.5rem;
	}
	.slideActors {
		font-size: 1.8rem;
	}
}
@media (max-width: 1024px) {
	.boxOffice {
		font-size: 2rem;
		padding-top: 0.5rem;
	}
	.slideTitle {
		font-size: 2.1rem;
	}
	.slideActors {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.boxOffice {
		font-size: 1.8rem;
		padding-top: 0.5rem;
	}
}

@media (max-width: 639px) {
	.boxOffice {
		font-size: 1.5rem;
	}
}
.slideNav {
	display: flex;
	margin-left: 46%;
	margin-top: 2%;
	cursor: pointer;
}
.slideNavElement {
	margin-left: 0.5em;
}
.slideController {
	/* border: 1px solid rgb(157, 148, 148); */
	border-radius: 100px;
	color: rgb(2, 2, 2);
	width: 1.7em;
	height: 1.5em;
	background-color: rgba(69, 74, 74, 0.598);
	padding-bottom: 0.4%;
	user-select: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	font-size: 2.3em;
	font-weight: 200;
	position: relative;
	opacity: 0.7;
	left: 50%;
}
.slideController:hover {
	background-color: white;
}
.slideLeft {
	position: relative;
	margin-top: -7.3em;
	margin-left: -13.5em;
}
.slideRight {
	position: relative;
	margin-top: -7.4em;
	margin-left: 12.5em;
}

.movie__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(5, 12rem);
	grid-template-rows: repeat(1, 15rem);
	row-gap: 8rem;
	margin: 20em 0 0 2em;
	/* row의 간격을 10px로 */
	column-gap: 3em;
	/* column의 간격을 20px로 */

	/* border: 1px solid black; */
}
.mainListImg {
	border-radius: 10px;
}

.mainContents {
	transition: all 1.5s;
}
.main {
	width: 100%;
}

.mainContents:hover {
	transform: scale(1.08);

	position: relative;
	font-size: 1.3em;
}
.mainTitle {
	color: rgb(255, 255, 255);
	font-size: 0.7em;
	font-weight: 300;
	margin-top: 10px;
}
.mainContents {
	display: block;
	text-align: center;
}

.footer {
	width: 100%;
	height: 13%;
	border-top: 0.5px solid rgb(126, 126, 138);
	display: flex;
	box-sizing: border-box;
	margin: 8% 0;
	bottom: 0;
}
.developerInfo {
	width: 25%;
	/* border: 1px solid rgb(209, 209, 213); */
	background-color: rgb(2, 2, 2);
	color: rgb(222, 211, 211);
	height: 100%;
	/* padding: 10px; */
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	line-height: 35px;
	opacity: 0.9;
}
.devName {
	color: #00E5FF;
	padding-top: 1em;
	font-weight: bold;
	font-size: 1.2em;
}
.devPosition {
	color: #00E5FF;
	font-weight: bold;
}
.blog > a {
	color: rgb(222, 211, 211);
	text-decoration: none;
}
.github > a {
	color: rgb(222, 211, 211);
	text-decoration: none;
}
