.movie__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 16rem);
	grid-template-rows: repeat(5, 15rem);
	grid-gap: 1rem;
	padding-left: 50px;
	/* border: 1px solid black; */
}
.title {
	color: black;
}
