.video__intro {
	position: relative;
	height: 45rem;
}
.video__intro > .video {
	position: relative;
	margin-top: 10%;
	width: 100%;
	left: 50%;
	top: 10%;
	/* height: 90%; */
	object-fit: cover;
	transform: translate(-50%, -50%);
	opacity: 0.9;
}

.introduction {
	position: absolute;
	
	top: 75%; 
	left: 45%;
	color: white;
	/* margin: auto; */
	font-size: 3rem;
	font-weight: bolder;
	transform: translate(-50%, -50%);
}
.introduction > span {
	color: #22b8cf;
	font-size: 3.5rem;
}
.introduction > .brand {
	font-size: 4.5rem;
	color: #22b8cf;
}

.slide {
	/* top: 10%; */
	margin-top: 12rem;
	position: relative;
	width: 100%;
	display: block;
	background-color: black;
	box-sizing: border-box;
}
.boxOffice {
	margin-top: 3rem;
	position: relative;
	text-align: center;
	color: white;
	font-size: 3rem;
	
}
.slideElement {
	width: 100%;
	margin-top: 4rem;
	position: relative;
	
}
.img__container {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.slideImage {
	width: 15%;
	/* height: 28em; */
	margin-left: 25%;
	float: left;
	/* border-radius: 10px; */
	border: 1px solid rgb(46, 46, 48);
	box-shadow: 5px 5px 50px rgb(57, 57, 58);
	vertical-align: top;
}
.info__container {
	position: absolute;
	vertical-align: middle;
	text-align: left;
	color: white;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	left: 65%;
	top: 45%;
}
.slideTitle {
	font-size: 3rem;
}
.slideNav {
	display: flex;
	margin-left: 46%;
	margin-top: 2%;
	cursor: pointer;
}
.slideNavElement {
	margin-left: 0.5em;
}
.slideController {
	/* border: 1px solid blue; */
	color: white;
	width: 2em;
	user-select: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	float: left;
	font-size: 2em;
	font-weight: 200;
	position: relative;
	left: 50%;
}
.slideLeft {
	position: relative;
	margin-top: -7em;
	margin-left: -18.5em;
}
.slideRight {
	position: relative;
	margin-top: -7.3em;
	margin-left: 17.5em;
}

.movie__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(5, 12rem);
	grid-template-rows: repeat(1, 15rem);
	row-gap: 8rem;
	margin: 20em 0 0 2em;
	/* row의 간격을 10px로 */
	column-gap: 3em;
	/* column의 간격을 20px로 */

	/* border: 1px solid black; */
}
.mainListImg {
	border-radius: 10px;
}

.mainContents {
	transition: all 1s;
}
.main {
	width: 100%;
}

.mainContents:hover {
	transform: scale(1.08);
	z-index: 100;
	position: relative;
	font-size: 1.3em;
}
.mainTitle {
	color: rgb(255, 255, 255);
	font-size: 0.7em;
	font-weight: 300;
	margin-top: 10px;
}
.mainContents {
	display: block;
	text-align: center;
}

.footer {
	width: 100%;
	height: 13%;
	border-top: 0.5px solid rgb(126, 126, 138);
	display: flex;
	box-sizing: border-box;
	margin: 8% 0;
}
.developerInfo {
	width: 25%;
	/* border: 1px solid rgb(209, 209, 213); */
	background-color: rgb(2, 2, 2);
	color: rgb(222, 211, 211);
	height: 100%;
	/* padding: 10px; */
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	line-height: 35px;
	opacity: 0.9;
}
.devName {
	color: rgb(244, 242, 242);
	font-weight: 400;
	font-size: 1em;
}
