.movie__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 11.5rem);
	grid-template-rows: repeat(5, 15rem);
	grid-gap: 1rem;

	/* border: 1px solid black; */
}
.mainContents {
	transition: all 1s;
}

.mainContents:hover {
	transform: scale(1.15);
	z-index: 100;
	position: relative;
}
.mainTitle {
	color: rgb(31, 30, 30);
	font-size: 15px;
	font-weight: 400;
	margin-top: 10px;
}
.mainContents {
	display: block;
	text-align: center;
}
.slide {
	display: flex;
	box-sizing: border-box;
}
.slideController {
	font-size: 100px;
	font-weight: 300;
	height: 100%;
	opacity: 0.2;
	text-shadow: -5px 5px 10px rgb(106, 106, 145);
	/* margin-left: 20px; */

	align-items: center;
	color: rgb(90, 91, 83);
	position: relative;
	top: 120px;
	user-select: none;
	opacity: 0.5;
}
.slideRight {
	left: 9.5%;
}
.slideLeft {
	right: 72%;
}
.slideElement {
	width: 750px;
	height: 400px;
	position: relative;
	left: 18%;
	display: flex;
	box-shadow: 10px 10px 20px rgb(61, 64, 65);
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(155, 155, 177);
	font-size: 80px;
	font-weight: 100;
	border-radius: 10px;
	color: thistle;
	margin-bottom: 130px;
	/* transition: all 1s; */
}
.slideNav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 30px 0 40px 30px;
	top: 24%;
	position: absolute;
}
.slideNavElement {
	user-select: none;

	margin-left: 5px;
	/* left: -50%; */
	font-size: 15px;
	opacity: 0.5;
	position: relative;
	color: rgb(67, 64, 64);
	/* transform: translate(88px, 40px); */
}
