.sideBar {
	border: 1px solid blue;
	margin: 10px;
	width: 300px;
	height: 500px;
	font-size: 20px;
}
.signIn {
	margin-top: 50px;
	border: 1px solid red;
	height: 50px;
}

.signUp {
	border: 1px solid black;
	height: 50px;
}
.icon {
	margin: 30px;
	color: rgb(219, 188, 188);
}
.loginModal {
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	/* margin-left: 250px; */
	border: 1px solid blue;
}
.signUpModal {
	width: 500px;
	height: 500px;
	border: 1px solid blue;
	margin-left: 50px;
	position: absolute;
}
