.sideBar {
	/* border: 1px solid blue; */
	padding: 40px 10px 20px 0;
	font-size: 20px;
	position: fixed;
	width: 20%;
	z-index: 999;
	opacity: 0.8;
	margin: 60px 0 0 40px;
	background-color: rgba(38, 36, 36, 0.954);
	border-radius: 20px;
}
.sideBarToggle {
	font-size: 30px;
	font-weight: 100;
	margin: 15px;
	user-select: none;
	position: fixed;
	z-index: 9999;
}

.modal {
	text-align: end;
	background-color: rgb(255, 255, 255);
	width: 500px;
	height: 500px;
	z-index: 9999;
	position: fixed;
	left: 50%;
	top: 50px;
	margin-left: -200px;
	border: 1px solid rgb(162, 162, 176);
	user-select: none;
	border-radius: 15px;
}
.modalExit {
	font-size: 20px;
	font-weight: 100;
	color: black;
	padding-right: 20px;
	/* border-radius: 15px; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
	/* border-bottom: 1px solid rgb(162, 162, 176); */
	text-align: center;
}
.sideBarButton {
	position: relative;
	width: 300px;
	height: 50px;
	outline: none;
	background-color: rgb(43, 40, 40);
	text-decoration: none;
	color: cornsilk;
	display: block;
	margin-bottom: 5px;
	transform: translate(95px, 5px);
}
/* a {
	width: 100%;
	display: block;
	text-decoration: none;
	color: cornsilk;
} */
.sideBarInput {
	border: 1px solid rgb(190, 190, 199);
	width: 320px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	position: relative;
	transform: translate(-80px, 0px);
	margin: 5px;
}

.sidiBarSelect {
	width: 100px;
	height: 30px;
	position: relative;
	transform: translate(90px, 70px);
	/* margin-left: 20px; */
	font-size: 10px;
	float: left;
	font-weight: 100;
	color: rgb(80, 74, 75);
	outline: none;
}
.age {
	transform: translate(220px, 6px);
}

.sideBarList {
	color: rgb(198, 210, 199);
	width: 90%;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
	display: flex;
	font-weight: 400;
	font-size: 20px;
	justify-content: center;

	/* border-radius: 13px; */
	align-items: center;
	transition: all 0.5s;
	text-decoration: none;
	/* border: 1px solid rgb(232, 221, 221); */
}
.sideBarList:hover {
	background-color: white;
	width: 90%;
	border-radius: 10px;
	color: rgba(36, 33, 33, 0.708);
}
#firstLi {
	border-top: 1px solid rgba(85, 79, 79, 0.671);
	margin-top: 30px;
}
.signUp {
	/* border: 1px solid black; */
	user-select: none;
	cursor: pointer;
}
.signIn {
	/* border: 1px solid red; */
	user-select: none;
	cursor: pointer;
}
.logout {
	cursor: pointer;
}

.nickName {
	color: rgb(225, 231, 198);
	user-select: none;
	position: absolute;
	transform: translate(20px, 7px);
	border-bottom: 1.5px dotted rgb(63, 63, 68);
}
.userIcon {
	border: 1px solid rgb(68, 68, 79);
	color: rgb(27, 34, 40);
	background-color: rgb(187, 177, 173);
	padding: 10px;
	margin-left: 20px;
	border-radius: 100%;
}
.signUpButton {
	top: 130px;
	left: -90px;
}
.sotialLoginButton {
	color: rgb(255, 255, 255);
}
