.sideBar {
	/* border: 1px solid blue; */
	margin: 50px 10px 0 0;
	height: 1000px;
	font-size: 20px;
}
.sideBarToggle {
	font-size: 30px;
	font-weight: 100;
	user-select: none;
}
.signIn {
	margin-top: 50px;
	/* border: 1px solid red; */
	height: 50px;
	user-select: none;
}

.signUp {
	/* border: 1px solid black; */
	height: 50px;
	/* margin-top: 30px; */
	user-select: none;
}
.icon {
	margin: 20px 30px 0;
	color: rgb(219, 188, 188);
}
.modal {
	text-align: end;

	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50px;
	margin-left: -100px;
	/* border: 1px solid blue; */
	user-select: none;
}
button {
	position: absolute;
	bottom: 10px;
	left: 45%;
}
